<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Finance Manager</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div class="container">
        <div class="content">
            <div class="sidebar" id="sidebar">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
              <a href="{{ url_for('home') }}">Home</a>
              <a href="{{ url_for('budget') }}">Budget</a>
              <a href="{{ url_for('map') }}">Maperoni</a>
              <a href="{{ url_for('logout') }}">Log Out</a>
            </div>
            <button class="openbtn" onclick="openNav()">☰</button>  
            <h1> Finance Manager(Budget) </h1>
          
          <h2>Budget overview</h2>
          <div class="container_total">
              <div class="bar-chart">
                  {% for category, data in budget_data.items() %}
                      <div class="bar {{ category|lower }}" style="width: {{ category_percentages[category] }}%; background-color: {{ category_colors[category] }};">
                        <p class="amt_total"> ${{ data['amt'] }} </p>
                      </div>
                  {% endfor %}
              </div>
              <div class="legend">
                  {% for category, data in budget_data.items() %}
                      <div class="category-label {{ category|lower }}" style="background-color: {{ category_colors[category] }};">{{ category }}</div>
                  {% endfor %}
              </div>
            </div>

          <hr />
          
          <h2>Add Budget</h2>
          <form action="/add_budget" method="POST">
              <label for="category">Category:</label>
              <!-- <input type="text" id="category" name="category" required> -->
              <select name="category" id="category" required>
                  {% for category in budget_data.keys() %}
                      <option value="{{ category }}">{{ category }}</option>option>
                  {% endfor %}
              </select>
              <label for="amount">Amount:</label>
              <input type="number" id="amount" name="amount" required>
              <button type="submit">Add Budget</button>
          </form>

          <hr />

          <h2>Add Category</h2>
          <form action="/add_spending_category" method="POST">
            <label for="newCategory">New Category:</label>
            <input type="text" id="newCategory" name="newCategory" required>
            <label for="color">Choose a color:</label>
            <input type="color" id="color" name="color" value="#000000" required>
            <button type="submit">Add Category</button>
          </form>

          <hr />
          
          <div class="toggle-container1">
              <h2>Budget Breakdown</h2>
              <span class="toggle-button" onclick="toggleContent1()">▼</span>
          </div>
          <div class="content1" id="content1">
            {% for category, data in budget_data.items() %}
                <div class="label1">{{ category }}</div>
                <div class="bar1">
                    <div class="progress1" style="width: {{ category_percentages[category] }}%;"> <p class="amt_total"> ${{ data['amt'] }} </p> </div>
                </div>
            {% endfor %}
          </div>
          
          <hr />
      
          <div class="toggle-container2">
              <h2>Budget Generator</h2>
              <span class="toggle-button2" onclick="toggleContent2()">▼</span>
              {{ error }}
          </div>
          <div class="content2" id="content2">
            {% if suggested_budget %}
              <div class="bar-chart2">
                  {% for category, data in suggested_budget.items() %}
                      <div class="bar {{ category|lower }}" style="width: {{ suggested_percentages[category] }}%; background-color: {{ suggested_colors[category] }};">
                          <p class="amt_total"> ${{ data['amt'] }} </p>
                      </div>
                  {% endfor %}
              </div>
            <div class="legend2">
                <form method='post' action='add_suggested_budget'>
                  {% for category, data in suggested_budget.items() %}
                      <label>
                        <input type="checkbox" name="category" value="{{ category }}" {% if category in checked_categories %}checked{% endif %}> 
                          <div class="category-label {{ category|lower }}" style="background-color: {{ suggested_colors[category] }};">{{ category }}</div>
                        </input>
                      </label>
                      <span class="checkmark"></span> 
                      <input type="hidden" name="amt_{{ category }}" value="{{ data['amt'] }}">
                      <input type="hidden" name="color_{{ category }}" value="{{ suggested_colors[category] }}">
                  {% endfor %}
                  <br />
                  <button type="submit" class="btn">Update Budget</button>
                </form>
            </div>
            {% endif %}
            <br />
            <div class="container_generator">
              <form id="generator" method="post">
                <button id="create_budget" class="btn" type="submit">Generate Budget</button>
              </form>
            </div>
          </div>
          
          <hr />
          
        </div>
      
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>