<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Finance Manager</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div class="index">
      <button class="btn" onclick= "window.location.href='signup'"> Signup </button>  
      <button class="btn" onclick= "window.location.href='login'"> Login </button>
      <button class="btn" onclick= "window.location.href='budget'"> Holder </button>
      <h1> Finance Manager </h1>
      <h3>Finance Manager is a comprehensive online platform designed to empower students in managing their finances effectively. With intuitive tools and robust features, our website offers a seamless experience for users to track expenses and create budgets.</h3>
      <h3>Features:</h3>
      <ul>
          <li><strong>Expense Tracking:</strong> Easily monitor and categorize your expenses to gain insights into your spending habits.</li>
          <li><strong>Budget Management:</strong> Take control of your finances by setting up personalized budgets for various categories.</li>
          <li><strong>Customizable Dashboards:</strong> Tailor your dashboard to display the financial metrics and data that matter most to you.</li>
          <li><strong>AI Budget Suggestions:</strong> Receive personalized budget suggestions based on your spending patterns and financial goals.</li>
          <li><strong>Finding Places within Your Budget:</strong> Explore options and find places to visit or shop that fit within your budget constraints.</li>
          <li><strong>User-Friendly Interface:</strong> Our platform offers a seamless and intuitive experience for all users, from novices to experts.</li>
      </ul>
      <img src="https://api.edoxi.com/assets/studyhub/What_Are_The_Roles_And_Responsibilities_of_A_Finance_Manager1.webp" alt="Finance Manager Image">
      <h6></h6>
    </div>
  </body>
</html>